:root{
 --color-title:  rgb(250, 67, 6);
 --color-body: rgb(244,241,240);
 --background-color: rgb(22,39,57);
 --background-img-color: rgb(245,246,248);
}
h4{
 color: var(--color-title);
}

.how-we-work-container{
 width: 100%;
}

.how-we-work-introduction{
 padding: 1rem 0.5rem;
 word-break: break-word;
 line-height: 1px;
}

/* Booking and Pickup  */

.how-we-work-booking-pickup-container{
 display: flex;
 flex-flow: row wrap;
 gap: 1rem;
 padding-bottom: 1rem;
}

.booking-01-container{
 background-color: var(--background-img-color);
 width: 30%;
 padding: 1rem;
 
}

.booking-01{
 background-image: url("../../../asset/howWeAre/1BookingBackground.JPG");
 background-repeat: no-repeat;
 background-size: 99%;
 display: flex;
 flex-flow: column wrap; 
 align-items: center;
 gap: 0.5rem;
 text-align: justify;
 word-break: break-word;
}

.photo-between-booking-pickup{
 width: 30%;
}

.pickup-02-container{
 background-color: var(--background-img-color);
 width: 30%;
 padding: 1rem;
}
.pickup-02{
 background-image: url("../../../asset/howWeAre/2PickupBackground.JPG");
 background-repeat: no-repeat;
 background-size: 99%;
 display: flex;
 flex-flow: column wrap; 
 align-items: center;
 gap: 0.5rem;
 text-align: justify;
 word-break: break-word;
}

.warehouse-inspection-labelling-03-container{
 background-color: var(--background-color);
 padding: 1rem 0;
}
.warehouse-inspection-labelling-03{
 background-image: url("../../../asset/howWeAre/3WarehousingInspectionLabllingBackground.JPG");
 background-repeat: no-repeat;
background-position-x: left ;
 background-size: 80%;
 width: 100%;
 margin-top: 3;
}

.warehouse-inspection-labelling-03 > h5{
 padding: 0 6.5rem;
 color: var(--color-body);
 font-weight: bold;
}

.warehouse-inspection-labelling-03 > span{
 display: flex;
 padding: 1rem 2rem 0 4rem;
 color: var(--color-body);
 text-align: justify;
 word-break: break-word;

}