:root{
 --color-title:  rgb(250, 67, 6);
 --color-body: rgb(244,241,240);
 --background-color: rgb(22,39,57);
 --background-img-color: rgb(245,246,248);
}

.industries-header-container{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 5rem;
 
}
.industries-header-container > h4{
 color: var(--background-color)
}

.industries-body-container{
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 2rem;
 margin: 2rem;
 
}